[MASTER]
init-hook='import sys; sys.path.append(".")'
ignore=.git,__pycache__,tests,venv,env,.venv
jobs=4

[MESSAGES CONTROL]
disable=
    missing-docstring,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    line-too-long,
    invalid-name,
    redefined-outer-name,
    broad-except,
    fixme,
    global-statement,
    attribute-defined-outside-init

[BASIC]
good-names=i,j,k,ex,Run,_,id,df,e,f

[FORMAT]
max-line-length=127
indent-string='    '

[DESIGN]
max-attributes=10
max-args=7
max-locals=20

[SIMILARITIES]
min-similarity-lines=10
